* {
  border: 1px solid red;
}

body {
  font-family: 'Dosis', sans-serif;

  margin: 0px;
}

.overlay {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color:rgba(240, 248, 255, 0.356)
}

main {
  background-image: url("../images/background-img.jpg") ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* text */

h1, h2, p {
  margin: 0px;
}

.card-label {
  font-family: 'Indie Flower', sans-serif;
  font-size: 20px;
}

.card-info {
  font-size: 16px;
}

/* header section */

.traveler-header {
  min-height: 20%;
  width: 100%;
  background-color: #589adcb4;
  display: flex;
  position: relative;
}

.catbus-logo {
  height: 150px
}

.cute-mini-totoros {
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: scaleX(-1)
}

/* card section */

.view-trips-area {
  width: 80%;
  height: 55vh;
}

.trip-cards {
  /* display: flex; */
  grid-template-rows: repeat(3, 100%);
  gap: 10px;
  width: 100%;
  height:60%;
}

.trip-card {
  /* height: 90%;
  width: 25%; */
  height: 250px;
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items:normal;
  margin-top: 10px;
  border-radius: 8px;
  background-color:rgba(240, 248, 255, 0.531)
}

/* trip request section */

.request-trip-area {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.amount-spent-area {
 width: 80%;
 height:40vh;
 /* position:absolute;
 bottom: 0px; */
}


/* .glide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glide__slide {
  text-align: center;
  height: 150px;
  line-height: 150px;
  color: #fff;
  background: rgb(136, 133, 133);
  font-size: 1em;
  font-weight: 900;
}
 */